test_output/*
gui/*
.VSCodeCounter/*
assets/save_config
assets/preview_tempfile.wav
*.timeline
*.breakpoint
*.exe
*.ipynb
**/__pycache__/*
.vscode/*
test_project.json
temp/*
assets/security/*
build/*
dist/*